---
title: Vayyar
heading: 'Technology'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
tech: true
canon: '/technology/'
---

{{>main-header}}

<div class="page-hero page-hero--tech row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">One Sensor to Rule Them All</h1>
  </div>
</div>

<div class="section">

  <div class="row">
    <div class="columns text-center">
      <h2 class="open-sans-light">Sensor Capabilities</h2>
    </div>
  </div>

  <div class="row push--30 push--medium-60">
    <div class="columns show-for-large square" style="background-image: url(/assets/images/tech-imaging.jpg);">
      <div class="square__inner">
      </div>
    </div>
    <div class="columns show-for-large square" style="background-image: url(/assets/images/tech-monitoring.jpg);">
      <div class="square__inner">
      </div>
    </div>
    <div class="columns show-for-large square" style="background-image: url(/assets/images/tech-sensing.jpg);">
      <div class="square__inner">
      </div>
    </div>
    <div class="columns show-for-large square" style="background-image: url(/assets/images/tech-testing.jpg);">
      <div class="square__inner">
      </div>
    </div>
  </div>

  <div class="row push--medium-60">
    <div class="columns small-12 medium-expand text-center">
      <img src="/assets/images/tech-imaging.jpg" class="hide-for-large" />
      <h3 class="open-sans-bold push--20">Imaging</h3>
      <p class="lead open-sans-light">
        See through walls & objects and creates a 3D image of what’s inside
      </p>
    </div>
    <div class="columns small-12 medium-expand push--20 text-center">
      <img src="/assets/images/tech-monitoring.jpg" class="hide-for-large" />
      <h3 class="open-sans-bold push--20">Monitoring</h3>
      <p class="lead open-sans-light">
         Identify objects and monitor people’s location, movement, height, posture and vital signs, with no wearables and without a camera
      </p>
    </div>
    <div class="columns small-12 medium-expand push--20 text-center">
      <img src="/assets/images/tech-sensing.jpg" class="hide-for-large" />
      <h3 class="open-sans-bold push--20">Sensing</h3>
      <p class="lead open-sans-light">
        Sense the makeup of materials such as fat percentage in milk, or moisture levels in soil
      </p>
    </div>
    <div class="columns small-12 medium-expand push--20 text-center">
      <img src="/assets/images/tech-testing.jpg" class="hide-for-large" />
      <h3 class="open-sans-bold push--20">Testing</h3>
      <p class="lead open-sans-light">
        Testing and measurement of communication devices, for labs and manufacturing lines
      </p>
    </div>
  </div>

  <div class="row push--60 push--medium-60 align-middle align-justify">
    <div class="columns small-12 large-expand text-center medium-text-left">
      <h2 class="open-sans-light">How It Works</h2>
      <p class="open-sans-light lead push--medium-20 fc--mg">
        Vayyar’s sensor is comprised of a unique chip which supports dozens of transceivers that transmit on wide and flexible frequency bands. These characteristics enable it to receive, analyze, and create high-resolution 3D images.
      </p>
    </div>
    <div class="columns large-5 text-right">
      <img src="/assets/images/chip-how.jpg" width="100%" height="auto" />
    </div>
  </div>

  <div class="row push--30 push--medium-60 align-center">
    <div class="columns small-10 large-10 section section--gray text-center section--padded-med">
      <h3 class="open-sans-semi-bold">An entire Imaging System on a Chip</h3>
    </div>
  </div>

  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
