---
title: Vayyar
heading: 'Technology'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
tech: true
canon: '/technology/'
---

{{>main-header}}

<div class="page-hero page-hero--tech row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">One sensor to rule them all</h1>
  </div>
</div>

<div class="section">

  <div class="row">
    <div class="columns text-center">
      <h2 class="open-sans-light">Core Talents </h2>
    </div>
  </div>

  <div class="row push--60">
    <div class="columns square">
      <div class="square__inner">
      </div>
    </div>
    <div class="columns square">
      <div class="square__inner">
      </div>
    </div>
    <div class="columns square">
      <div class="square__inner">
      </div>
    </div>
    <div class="columns square">
      <div class="square__inner">
      </div>
    </div>
  </div>

  <div class="row push--60">
    <div class="columns text-center">
      <h3 class="open-sans-bold">Imaging</h3>
      <p class="lead open-sans-light">
        See inside and through walls & objects to create a 3D image of what’s inside
      </p>
    </div>
    <div class="columns text-center">
      <h3 class="open-sans-bold">3D Monitoring</h3>
      <p class="lead open-sans-light">
        Monitor People and object’s location, movements and vital signs with no wearables or camera.
      </p>
    </div>
    <div class="columns text-center">
      <h3 class="open-sans-bold">Sensing</h3>
      <p class="lead open-sans-light">
        Sense the makeup of materials such as protein percentage in milk, or moisture levels in soil.
      </p>
    </div>
    <div class="columns text-center">
      <h3 class="open-sans-bold">Sensing</h3>
      <p class="lead open-sans-light">
        See inside and through walls & objects to create a 3D image of what’s inside
      </p>
    </div>
  </div>

  <div class="row push--60 align-middle align-justify">
    <div class="columns">
      <h2 class="open-sans-light">How It Works</h2>
      <p class="open-sans-light lead push--20 fc--mg">
        Vayyar’s sensor is comprised of a unique RF chip, supporting dozens of transceivers which transmit on wide and flexible frequency bands. These characteristics enable, upon signals receive and analysis, the creation of high-resolution, 3D images.
      </p>
    </div>
    <div class="columns large-5 text-right">
      <img src="/assets/images/chip-how.png" width="100%" height="auto" />
    </div>
  </div>

  <div class="row push--40">
    <div class="columns section section--gray text-center section--padded-med">
      <h3 class="open-sans-semi-bold">Essentially, an entire MIMO Radar System on a Chip</h3>
    </div>
  </div>

  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
