.feature-list{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  li{
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 30px;
    @extend .lead;
    &::after{
      content: "\f00c";
      position: absolute;
      top:0;
      width: 30px;
      height: 30px;
      left:0;
      font-family: "FontAwesome";
      color: #07b0ef;
    }
  }
  li + li {
    margin-top: 1rem;
  }
}
