.popup{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 991;
  background: rgba(black, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  visibility: hidden;
  &.isActive{
    visibility: visible;
  }
  &__inner{
    max-width: 600px;
    max-height: 600px;
    overflow: visible;
    border: 7px solid rgba(white,.1);
    position: relative;
    padding-top: 40px;
  }
  &__close{
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0px;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
  }
}
