.square{
  background: #f8f8f8;
  padding: 1.5rem;
  @include breakpoint(medium up){
    margin: 0 .5rem;
    padding: 1.5rem;
  }
  min-height: 225px;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  &--link{
    h3{
      transition-property: all;
      transition-duration: .1s;
      color: white;
      text-shadow: 0px 2px 8px #333;
    }
    &:hover{
      h3{ transform: translateY(-20px); }
    }
  }
  &__inner{
    display: flex;
    align-items: flex-end;
    height: 100%;
  }
}
