---
title: Vayyar
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
heading: 'Automotive'
canon: '/automotive/'
---

{{>main-header}}

<div class="page-hero page-hero--automotive row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">Vayyar Automotive Labs</h1>
  </div>
</div>

<div class="section section--angle">

  <div class="row">
    <div class="columns text-center">
      <h2 class="open-sans-light">360<sup>&deg;</sup> in-car & out-of-car sensing</h2>
    </div>
  </div>

  <div class="row push--20 push--medium-40 align-middle">
    <div class="columns small-12 large-5 text-center large-text-left">
      <h3 class="open-sans-light">Detect and monitor presence, location, posture, distances, vital signs and obstacles. <br /><br />Vayyar’s Automotive sensors detect over 150K points of interest per second.</h3>
    </div>
    <div class="columns small-12 medium-expand push--40">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZT9wCnTvwQc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row push--medium-30 push--medium-100">
    <div class="columns text-center">
      <h2 class="open-sans-light">Applications</h2>
    </div>
  </div>

  <div class="row push--20 push--medium-40">
    <div class="columns small-12 medium-expand text-center">
      <h3 class="open-sans-bold fc--aqua"><a href="#driver-assistance" class="js-jumplink">1. Driver Support</a></h3>
      <h3 class="open-sans-bold fc--aqua push--20 push--medium-40"><a href="#passenger-monitoring" class="js-jumplink">2. In-car Passenger Monitoring</a></h3>
    </div>
    <div class="columns small-12 medium-expand text-center">
      <h3 class="open-sans-bold fc--aqua push--20"><a href="#adaptive-collision" class="js-jumplink">3. Adaptive Collision Avoidance</a></h3>
      <h3 class="open-sans-bold fc--aqua push--20 push--medium-40"><a href="#cargo-management" class="js-jumplink">4. Freight & Cargo Management</a></h3>
    </div>
  </div>

  <div class="row push--60 push--medium-200 align-middle align-justify" id="driver-assistance">
    <div class="columns small-12 large-5">
      <img src="/assets/images/automotive-status.jpg" />
    </div>
    <div class="columns small-12 large-6">
      <h1 class="xl open-sans-bold fc--lg">01</h1>
      <h2 class="open-sans-light">Driver Support</h2>
      <ul class="feature-list push--30 push--medium-30">
        <li>Track driver vital signs</li>
        <li>Identify head position and movement</li>
        <li>Measure proximity and posture for air-bag optimization</li>
        <li>Recognize gestures for Infotainment control</li>
      </ul>
    </div>
  </div>

  <div class="row push--60 push--medium-200 align-middle align-justify" id="passenger-monitoring">
    <div class="columns small-12 large-6">
      <h1 class="xl open-sans-bold fc--lg">02</h1>
      <h2 class="open-sans-light">In-car Passenger Monitoring</h2>
      <ul class="feature-list push--30 push--medium-30">
        <li>Identify passenger location within the car</li>
        <li>Sense occupant’s presence, such as a baby forgotten in the car</li>
        <li>Classify passengers according to size, height, age and other parameters</li>
        <li>Smart air-bag deployment and optimization</li>
      </ul>
    </div>
    <div class="columns push--30 small-12 large-5">
      <img src="/assets/images/automotive-in-car.jpg" />
    </div>
  </div>

  <div class="row push--60 push--medium-200 align-middle align-justify" id="adaptive-collision">
    <div class="columns small-12 large-5">
      <img src="/assets/images/automotive-surroundings.jpg" />
    </div>
    <div class="columns push--30 small-12 large-6">
      <h1 class="xl open-sans-bold fc--lg">03</h1>
      <h2 class="open-sans-light">Adaptive Collision Avoidance</h2>
      <ul class="feature-list push--30 push--medium-30">
        <li>Avoid collisions through object detection, classification and trajectory mapping</li>
        <li>Monitor surroundings, both moving and static, for parking assistance</li>
        <li>Identify and avoid elevated obstacles</li>
      </ul>
    </div>
  </div>

  <div class="row push--60 push--medium-200 align-middle align-justify" id="cargo-management">
    <div class="columns small-12 large-6">
      <h1 class="xl open-sans-bold fc--lg">04</h1>
      <h2 class="open-sans-light">Freight & Cargo Management</h2>
      <ul class="feature-list push--30 push--medium-30">
        <li>Detect available cargo space that is hidden from view</li>
        <li>Monitor cargo distribution</li>
        <li>Identify shifting and moving cargo</li>
      </ul>
    </div>
    <div class="columns push--30 small-12 large-5">
      <img src="/assets/images/automotive-cargo.jpg" />
    </div>
  </div>

  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
