---
title: Vayyar
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
heading: 'Automotive'
canon: '/automotive/'
---

{{>main-header}}

<div class="page-hero page-hero--automotive row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">Vayyar Automotive Labs</h1>
  </div>
</div>

<div class="section section--angle">

  <div class="row">
    <div class="columns text-center">
      <h2 class="open-sans-light">360<sup>&deg;</sup> in-car & out-of-car sensing</h2>
    </div>
  </div>

  <div class="row push--60 align-middle">
    <div class="columns large-5">
      <h3 class="open-sans-light">Vayyar’s Automotive sensors detect over 150k points of interest per second, inside and outside of vehicles</h3>
    </div>
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row push--100">
    <div class="columns text-center">
      <h2 class="open-sans-light">Embeddable capabilities</h2>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-bold fc--aqua">01. Driver monitoring</h3>
      <h3 class="open-sans-bold fc--aqua push--40">02. In-car passengers</h3>
    </div>
    <div class="columns">
      <h3 class="open-sans-bold fc--aqua">3. Car surroundings</h3>
      <h3 class="open-sans-bold fc--aqua push--40">4. Trucks & Cargo Management</h3>
    </div>
  </div>

  <div class="row push--200 align-middle">
    <div class="columns">
      <img src="http://placehold.it/600x400" />
    </div>
    <div class="columns">
      <h1 class="xl open-sans-bold fc--lg">01</h1>
      <h2 class="open-sans-light">Driver Monitoring</h2>
      <ul class="feature-list push--30">
        <li>Monitor driver's heart-rate/breathing rate</li>
        <li>Identify head position and movement of head</li>
        <li>Measure body parts distance from air-bag</li>
        <li>Infotainment control system (hand & finger gesture control)</li>
      </ul>
    </div>
  </div>

  <div class="row push--200 align-middle">
    <div class="columns">
      <h1 class="xl open-sans-bold fc--lg">02</h1>
      <h2 class="open-sans-light">In-car Passengers</h2>
      <ul class="feature-list push--30">
        <li>Identify people's location in different seats in the car with a single sensor (3-rows)</li>
        <li>Sense if a baby was left behind in the car</li>
        <li>Conduct mass-classification of passenger's sizes <br /> <small>(i.e. male-adult 95%, child &lt;8 YO, baby, etc.) </small></li>
        <li>Detect passenger's proximity to air-bag for safety</li>
      </ul>
    </div>
    <div class="columns">
      <img src="http://placehold.it/600x400" />
    </div>
  </div>

  <div class="row push--200 align-middle">
    <div class="columns">
      <img src="http://placehold.it/600x400" />
    </div>
    <div class="columns">
      <h1 class="xl open-sans-bold fc--lg">03</h1>
      <h2 class="open-sans-light">Car Surroundings</h2>
      <ul class="feature-list push--30">
        <li>Provide collision avoidance while doors being opened against obstacles/bicycle driving-by</li>
        <li>Offer automatic parking assistance (high resolution  back-view radar)</li>
        <li>Identify road conditions</li>
        <li>Detect tires condition</li>
      </ul>
    </div>
  </div>

  <div class="row push--200 align-middle">
    <div class="columns">
      <h1 class="xl open-sans-bold fc--lg">04</h1>
      <h2 class="open-sans-light">Trucks & Cargo Management</h2>
      <ul class="feature-list push--30">
        <li>Provide indication for % full/empty</li>
        <li>Identify movement in cargo while driving</li>
        <li>Imaging of cargo packed</li>
        <li>Blind-spot detection</li>
      </ul>
    </div>
    <div class="columns">
      <img src="http://placehold.it/600x400" />
    </div>
  </div>

  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
