$push-slug: push !default;

@include breakpoint(small down){

	@for $i from 1 through 20 {

	    .#{$push-slug}--#{$i+'0'}{
	    	margin-top: #{($i+'0')+'px'};
	    }
	}

	.push--small-clear{
    margin-top: 0px;
  }
}


@include breakpoint(medium up){

	@for $i from 1 through 20 {

	    .#{$push-slug}--medium-#{$i+'0'}{
	    	margin-top: #{($i+'0')+'px'};
	    }
	}

	.push--medium-clear{
    margin-top: 0px;
  }
}

@include breakpoint(large up){

	@for $i from 1 through 20 {

	    .#{$push-slug}--large-#{$i+'0'}{
	    	margin-top: #{($i+'0')+'px'};
	    }
	}

	.push--large-clear{
    margin-top: 0px;
  }
}

@include breakpoint(xlarge up){

	@for $i from 1 through 20 {

	    .#{$push-slug}--xlarge-#{$i+'0'}{
	    	margin-top: #{($i+'0')+'px'};
	    }
	}

	.push--xlarge-clear{
    margin-top: 0px;
  }
}
