---
title: Vayyar
heading: 'Vayyar at CES 2018'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
canon: '/ces/'
ces: true
---

{{>main-header}}


<div class="section">

  <div class="row push--80 push--medium-80">
    <div class="columns small-12 large-12 text-center">
      <h1 class="open-sans-light">See Vayyar's New Sensors Live at CES!</h1>
      <h3 class="open-sans-light">Come by our booth at Sands, Halls A-D, <strong>Booth 404204</strong></h3>
      <h3 class="open-sans-light">or</h2>
      <a class="btn btn--square" href="https://vayyar.wufoo.eu/forms/meet-vayyar-at-ces-2018/" target="_blank">Schedule a Meeting</a>
      <a class="btn btn--square" href="https://ces18.mapyourshow.com/7_0/exhibitor/exhibitor-details.cfm?ExhID=T0005283" target="_blank">Visit Us</a>
    </div>
    <div class="columns small-12 text-center push--40 push--medium-40">
      <img src="/assets/images/vayyar-ces.jpg" />
    </div>
    <div class="columns small-12 large-12 push--60 push--medium-60 text-center">
      <p class="open-sans-bold">
        Use Entrance to Hall A at Sands Convention Center Turn left, find Booth 404204
      </p>
    </div>
  </div>


<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
