---
title: Vayyar
heading: 'Retail, Smart Shelves, Robotics, and Medical'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
canon: '/retail-robotics-medical/'
---

{{>main-header}}

<div class="page-hero page-hero--robotics row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">Retail, Smart Shelves, Robotics &amp; Medical</h1>
  </div>
</div>

<div class="section section--angle-purple">

  <div class="row align-center">
    <div class="columns large-10 text-center">
      <h3 class="open-sans-light fc--mg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h3>
    </div>
  </div>

  <div class="row push--60 align-justify">
    <div class="columns large-3">
      <h2 class="open-sans-light">Retail</h2>
      <h3 class="open-sans-bold fc--aqua push--20">Smart Shelf</h3>
      <h3 class="open-sans-bold fc--aqua push--20">Smart Hotel/Office</h3>
    </div>
    <div class="columns large-3">
      <h2 class="open-sans-light">Robotics</h2>
      <h3 class="open-sans-bold fc--aqua push--20">Personal Robots</h3>
      <h3 class="open-sans-bold fc--aqua push--20">Manufacturing &amp; Industrial Robots </h3>
    </div>
    <div class="columns large-3">
      <h2 class="open-sans-light push--20">Medical</h2>
      <h3 class="open-sans-bold fc--aqua push--20">Screening</h3>
    </div>
  </div>

  <div class="row push--100">
    <div class="columns text-left">
      <h1 class="open-sans-bold">Retail</h1>
    </div>
  </div>
  <div class="row push--60 align-middle">
    <div class="columns">
      <img src="http://placehold.it/600x400" />
    </div>
    <div class="columns">
      <h2 class="open-sans-light">Smart Shelf</h2>
      <ul class="feature-list push--30">
        <li>Identify/count number of people in front of shelf</li>
        <li>Map exact location/product person is reaching out to in shelf</li>
        <li>Monitor person's vital signs when in front of shelf (heartbeat/breathing/activity)</li>
      </ul>
    </div>
  </div>

  <div class="row push--200 align-middle">
    <div class="columns">
      <h2 class="open-sans-light">Smart Hotel / Office</h2>
      <ul class="feature-list push--30">
        <li>Count number of people in the room/office/lobby/elevatore</li>
        <li>Monitor people's position/location (including fall detection)</li>
        <li>Provide sleep score of hotel guests (correlate sleep-score changes to room/bed changes)</li>
        <li>Alert on people's location and state during fire</li>
      </ul>
    </div>
    <div class="columns">
      <img src="http://placehold.it/600x400" />
    </div>
  </div>

  <div class="section section--gray">
    <div class="row">
      <div class="columns text-left">
        <h1 class="open-sans-bold">Robotics</h1>
      </div>
    </div>
    <div class="row push--60 align-middle">
      <div class="columns">
        <img src="http://placehold.it/600x400" />
      </div>
      <div class="columns">
        <h2 class="open-sans-light">Personal Robots</h2>
        <ul class="feature-list push--30">
          <li>Obstacles monitoring and classification <br /> <small>(i.e. separate water from cable)</small></li>
          <li>Detect and track people around the robot and monitor their vital signs <br /> <small>(i.e. elderly care)</small></li>
          <li>Navigation assistance around the room/office</li>
        </ul>
      </div>
    </div>
    <div class="row push--200 align-middle">
      <div class="columns">
        <h2 class="open-sans-light">Manufacturing <br />/ Industrial Robots</h2>
        <ul class="feature-list push--30">
          <li>Enable human-robot interaction in production lines</li>
          <li>Obstacle detection avoidance for robot moving parts</li>
          <li>Direct robot arms towards targets</li>
          <li>Industry 4.0 support</li>
        </ul>
      </div>
      <div class="columns">
        <img src="http://placehold.it/600x400" />
      </div>
    </div>
  </div>

  <div class="section section--trans">
    <div class="row">
      <div class="columns text-left">
        <h1 class="open-sans-bold">Medical</h1>
      </div>
    </div>
    <div class="row push--60 align-middle">
      <div class="columns">
        <img src="http://placehold.it/600x400" />
      </div>
      <div class="columns">
        <h2 class="open-sans-light">Screening</h2>
        <ul class="feature-list push--30">
          <li>Identify/count number of people in front of shelf</li>
          <li>Map exact location/product person is reaching out to in shelf</li>
          <li>Monitor person's vital signs when in front of shelf <br /> <small>(heartbeat/breathing/activity)</small></li>
        </ul>
      </div>
    </div>
  </div>

  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
