---
title: Vayyar
heading: 'Retail, Smart Office, Robotics & Medical'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
canon: '/retail-robotics-medical/'
---

{{>main-header}}

<div class="page-hero page-hero--robotics row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">Retail, Smart Office, Robotics & Medical</h1>
  </div>
</div>

<div class="section section--angle">

  <div class="row push--20 push--medium-80 align-justify align-top">
    <div class="columns text-center">
      <h2 class="open-sans-light">Applications</h2>
    </div>
  </div>

  <div class="row push--medium-40 align-center align-middle">
    <div class="columns small-12 medium-expand text-center">
      <h3 class="open-sans-bold fc--aqua push--20"><a class="js-jumplink" href="#retail">Retail</a></h3>
    </div>
    <div class="columns small-12 medium-expand text-center">
      <h3 class="open-sans-bold fc--aqua push--20"><a class="js-jumplink" href="#robotics">Robotics</a></h3>
    </div>
    <div class="columns small-12 medium-expand text-center">
      <h3 class="open-sans-bold fc--aqua push--20"><a class="js-jumplink" href="#office">Smart Office &amp; Lighting</a></h3>
    </div>
    <div class="columns small-12 medium-expand text-center">
      <h3 class="open-sans-bold fc--aqua push--20"><a class="js-jumplink" href="#medical">Medical</a></h3>
    </div>
  </div>

  <div class="row push--60 push--medium-200" id="retail">
    <div class="columns text-center medium-text-left">
      <h1 class="open-sans-bold">Retail</h1>
    </div>
  </div>
  <div class="row push--30 push--medium-60 align-middle align-justify">
    <div class="columns small-12 large-5">
      <img src="/assets/images/retail-smart-shelf.jpg" />
    </div>
    <div class="columns push--30 large-6">
      <h2 class="open-sans-light">Smart Shelves</h2>
      <ul class="feature-list push--30 push--medium-30">
        <li>Count and monitor people browsing or passing by shelves</li>
        <li>Measure consumer intent – monitor gestures, movements and interest level for products</li>
        <li>Monitor shelf inventory</li>
      </ul>
    </div> 
  </div>

  <div class="row push--60 push--medium-200" id="smart-office">
    <div class="columns text-center medium-text-left">
      <h1 class="open-sans-bold">Smart Office</h1>
    </div>
  </div>
  <div class="row push--30 push--medium-60 align-middle align-justify" id="office">
    <div class="columns small-12 large-6">
      <h2 class="open-sans-light">Smart Office & Lighting</h2>
      <ul class="feature-list push--30 push--medium-30">
        <li>Count the number of people in a room or defined area</li>
        <li>Monitor people's location, and wellbeing for office automation, security and energy efficiency</li>
        <li>During a fire, provide updates in real time of wellbeing, location or falls</li>
      </ul>
    </div>
    <div class="columns push--30 small-12 large-5">
      <img src="/assets/images/retail-smart-office.jpg" />
    </div>
  </div>

  <div class="section section--gray push--60 push--medium-200" id="robotics">
    <div class="row">
      <div class="columns text-center medium-text-left">
        <h1 class="open-sans-bold">Robotics</h1>
      </div>
    </div>
    <div class="row push--60 push--medium-60 align-middle align-justify">
      <div class="columns small-12 large-5">
        <img src="/assets/images/retail-persomal-robotics.jpg" />
      </div>
      <div class="columns push--30 small-12 large-6">
        <h2 class="open-sans-light">Personal Robots <br /><small>Home & Commercial</small></h2>
        <ul class="feature-list push--30 push--medium-30">
          <li>Monitor, classify and map the location of obstacles in a home</li>
          <li>Detect and monitor people around the robot (i.e. elderly care)</li>
          <li>Provide navigation assistance for rooms or offices </li>
        </ul>
      </div>
    </div>
    <div class="row push--30 push--medium-80 align-middle align-justify">
      <div class="columns small-12 large-6">
        <h2 class="open-sans-light">Manufacturing <br />& Industrial Robots</h2>
        <ul class="feature-list push--30 push--medium-30">
          <li> Presence awareness that identifies when humans enter robotic manufacturing zones and monitors their proximity to machines</li>
          <li>Robotic Limb Safety - Avoid obstacles and humans</li>
          <li>Accurately direct robotic arms toward targets</li>
          <li>Surface level monitoring</li>
        </ul>
      </div>
      <div class="columns small-12 push--30 large-5">
        <img src="/assets/images/retail-robotics.jpg" />
      </div>
    </div>
  </div>

  <div class="section section--trans" id="medical">
    <div class="row">
      <div class="columns text-center medium-text-left">
        <h1 class="open-sans-bold">Medical</h1>
      </div>
    </div>
    <div class="row push--60 push--medium-60 align-middle align-justify">
      <div class="columns small-12 large-5">
        <img src="/assets/images/retail-medical.jpg" />
      </div>
      <div class="columns push--30 small-12 large-6">
        <h2 class="open-sans-light">Medical Screening</h2>
        <ul class="feature-list push--30 push--medium-30">
          <li>Early stage breast cancer detection device </li>
          <li>Provides 3D scan of breast tissue that identifies tumors in under 5 seconds</li>
          <li>Handheld, low cost, non-ionizing, non-painful, low-cost system</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row push--30 push--medium-60">
    <div class="columns text-center">
      <hr />
      <h2 class="open-sans-light push--medium-80">Contact us for details and packages</h2>
      <a class="btn btn--square push--20 push--medium-20 js-jumplink" href="#contact-form">Enquire Now</a>
      <hr class="push--medium-60" />
    </div>
  </div>

  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
