---
title: Vayyar
home: true
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
---

{{>main-header}}

<div class="main-hero">
  <div class="main-hero__row row align-middle">
    <div class="hero__text-group columns large-6">
      <img src="/assets/images/vayyar-chip-mobile.jpg" class="hide-for-medium"/>
      <h1 class="open-sans-light">Meet a new kind of imaging device</h1>
      <h3 class="open-sans-light">Track everything around you in real time, without a camera.</h3>
    </div>
  </div>
</div>

<div class="row expanded">
  <div class="hero__creds columns large-12">
    <div class="row">
      <p class="small-12 lead open-sans-light text-center medium-text-left">
        As seen on...
      </p>
    </div>
    <div class="row">
      <div class="columns small-12 medium-2 push--small-20 text-center"><img src="/assets/images/tech-crunch.jpg" alt=""/></div>
      <div class="columns small-12 medium-2 push--small-20 text-center"><img src="/assets/images/entrepreneur.jpg" alt=""/></div>
      <div class="columns small-12 medium-2 push--small-20 text-center"><img src="/assets/images/forbes.jpg" alt=""/></div>
      <div class="columns small-12 medium-2 push--small-20 text-center"><img src="/assets/images/fast-co.jpg" alt=""/></div>
      <div class="columns small-12 medium-2 push--small-20 text-center"><img src="/assets/images/cnbc.jpg" alt=""/></div>
      <div class="columns small-12 medium-2 push--small-20 text-center"><img src="/assets/images/computerworld.jpg" alt=""/></div>
    </div>
  </div>
</div>

<div class="section section--top-padded feature-quadrant">
  <div class="row align-center">
    <h2 class="open-sans-light">Vayyar Divisions</h2>
  </div>
  <div class="row">
    <div class="columns small-12 medium-6">
      <a href="/smart-home" class="quadrant__inner purple--grad quadrant--smart-home">
        <h2 class="open-sans-light">Smart Home &amp; Office</h2>
      </a>
    </div>
    <div class="columns small-12 medium-6">
      <a href="/automotive" class="quadrant__inner red--grad quadrant--automotive">
        <h2 class="open-sans-light">Automotive</h2>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 medium-6">
      <a href="/retail-robotics-medical" class="quadrant__inner green--grad quadrant--retail">
        <h2 class="open-sans-light">Retail &amp; Smart Shelves</h2>
      </a>
    </div>
    <div class="columns small-12 medium-6">
      <a href="/retail-robotics-medical" class="quadrant__inner blue--grad quadrant--robotics">
        <h2 class="open-sans-light">Robotics &amp; Medical</h2>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="columns only small-12">
      <a href="/technology" class="quadrant__inner yellow--grad quadrant--chip">
        <div>
          <h2 class="open-sans-light">Technology</h2>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="section--padded">
  <div class="row align-left">
    <div class="columns text-center medium-text-left">
      <h2 class="open-sans-light">Investors</h2>
    </div>
  </div>
  <div class="row align-justify push--40">
    <div class="columns small-12 medium-expand text-center push--small-20">
      <a href="https://www.battery.com/" target="_blank"><img src="/assets/images/bv.jpg" /></a>
    </div>
    <div class="columns small-12 medium-expand text-center push--small-20">
      <a href="https://www.bvp.com/" target="_blank"><img src="/assets/images/bessemer.jpg" /></a>
    </div>
    <div class="columns small-12 medium-expand text-center push--small-20">
      <a href="http://www.icv.vc/" target="_blank"><img src="/assets/images/icv.jpg" /></a>
    </div>
    <div class="columns small-12 medium-expand text-center push--small-20">
      <a href="http://www.waldenintl.com/index.aspx" target="_blank"><img src="/assets/images/wrv.jpg" /></a>
    </div>
    <div class="columns small-12 medium-expand text-center push--small-20">
      <a href="http://www.amiticapital.com/" target="_blank"><img src="/assets/images/amiti.jpg" /></a>
    </div>
  </div>
</div>

{{>contact-form}}

{{>site-footer}}
