.btn{
  display: inline-block;;
  &--square{
    padding: 10px 20px;
    background: #2abaf1;
    @extend .open-sans-bold;
    color: white;
    &:hover{
      background: darken(#2abaf1, 20%);
      color: white;
    }
  }
  &--inv{
    background: white;
    color: #2abaf1;
    &:hover{
      background: darken(#2abaf1, 30%);
      color: white;
    }
  }
}
