label:not(.select-mask){
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  margin-bottom: .5rem;
}

input{
  background: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  padding: 1rem;
  width: 100%;
  border: none;
  & + label{
    margin-top: 1rem;
  }
}

select{
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

.select-mask{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 54px;
  background: #e5e5e5;
  overflow: hidden;
  select{
    z-index: 2;
    display: inline-block;
    flex: 0 0 120%;
  }
  &::after{
    position: absolute;
    width: 60px;
    height: 100%;
    background: #5c6770;
    content: "\f0d7";
    top:0;
    right:0;
    font-family: "FontAwesome";
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 0
  }
  & + label{
    margin-top: 1rem;
  }
}

textarea{
  resize: none;
  background: #e5e5e5;
  padding: 1rem;
  display: inline-block;
  border: none;
  width: 100%;
  height: 228px;
}

button{
  background: #00aeef;
  color: white;
  padding: 15px 40px;
  border-radius: 40px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  &:hover{ background: darken(#00aeef, 10%); }
  &.mobile-full{
    @include breakpoint(medium down){
      width: 100%;
    }
  }
}

input, textarea, select, button{
  outline: none;
  transition-duration: .2s;
  transition-property: background;
  &:focus{
    background: rgba(white, .8);
  }
}
