label{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  margin-bottom: .5rem;
}

input{
  background: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  padding: 1rem;
  width: 100%;
  border: none;
  & + label{
    margin-top: 1rem;
  }
}

select{
  padding: 1rem;
  background: #e5e5e5;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  & + label{
    margin-top: 1rem;
  }
}

textarea{
  resize: none;
  background: #e5e5e5;
  padding: 1rem;
  display: inline-block;
  border: none;
  width: 100%;
  height: 228px;
}

button{
  background: #00aeef;
  color: white;
  padding: 15px 40px;
  border-radius: 40px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  &:hover{ background: darken(#00aeef, 10%); }
  &.mobile-full{
    @include breakpoint(medium down){
      width: 100%;
    }
  }
}

input, textarea, select, button{
  outline: none;
  transition-duration: .2s;
  transition-property: background;
  &:focus{
    background: rgba(white, .8);
  }
}
