<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

  {{>head}}

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/assets/images/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/assets/images/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/assets/images/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/assets/images/mstile-310x310.png" />


</head>
<body id="top">

  <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% body %}

  
  <div class="popup">
    <div class="popup__inner">
      <button class="popup__close js-popup-close"><i class="fa fa-close"></i> close</button>
      <a href="https://vayyar.wufoo.eu/forms/meet-vayyar-at-ces-2018/" target="_blank"><img src="/assets/images/ces-popup.png" alt="We're at CES!" title="We're at CES!" /></a>
    </div>
  </div>

{{>footer}}

<script src="/assets/js/bundle.js"></script>

</body>
</html>
