---
title: Vayyar
heading: 'About Us and Press'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
about: true
canon: '/about/'
---

{{>main-header}}

<div class="page-hero page-hero--about row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">About Us & Press</h1>
  </div>
</div>

<div class="section section--angle">

  <div class="row">
    <div class="columns text-center">
      <h2 class="open-sans-light fc--mg">Expand your vision</h2>
    </div>
  </div>

  <div class="row push--60 align-middle">
    <div class="columns large-5">
      <h3 class="open-sans-light fc--mg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laborealiquip ex ea commodo</h3>
    </div>
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row push--60">
    <div class="columns">
      <h2 class="open-sans-light">Press</h2>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
  </div>

  <div class="row expanded push--60">
    <div class="hero__creds hero__creds--color columns large-12">
      <div class="row">
        <p class="lead open-sans-light">
          As seen on...
        </p>
      </div>
      <div class="row">
        <div class="columns text-center"><img src="/assets/images/tech-crunch-color.png" alt=""/></div>
        <div class="columns text-center"><img src="/assets/images/entrepreneur-color.png" alt=""/></div>
        <div class="columns text-center"><img src="/assets/images/forbes-color.png" alt=""/></div>
        <div class="columns text-center"><img src="/assets/images/fast-co-color.png" alt=""/></div>
        <div class="columns text-center"><img src="/assets/images/cnbc-color.png" alt=""/></div>
        <div class="columns text-center"><img src="/assets/images/computer-world-color.png" alt=""/></div>
      </div>
    </div>
  </div>

  <div class="row push--80">
    <div class="columns">
      <h2 class="open-sans-light">Media Appearances</h2>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row push--140 align-middle align-justify">
    <div class="columns large-5">
      <h2 class="open-sans-light">10x Awards</h2>
      <p class="open-sans-light lead push--20">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="columns large-5">
      <img src="/assets/images/awards-bubble.png" />
    </div>
  </div>


  <div class="row align-left push--140">
    <div class="columns">
      <h2 class="open-sans-light">Investors</h2>
    </div>
  </div>
  <div class="row align-justify push--40">
    <div class="columns">
      <a href="https://www.battery.com/" target="_blank"><img src="/assets/images/bv.jpg" /></a>
    </div>
    <div class="columns">
      <a href="https://www.bvp.com/" target="_blank"><img src="/assets/images/bessemer.jpg" /></a>
    </div>
    <div class="columns">
      <a href="http://www.icv.vc/" target="_blank"><img src="/assets/images/icv.jpg" /></a>
    </div>
    <div class="columns">
      <a href="http://www.waldenintl.com/index.aspx" target="_blank"><img src="/assets/images/wrv.jpg" /></a>
    </div>
    <div class="columns">
      <a href="http://www.amiticapital.com/" target="_blank"><img src="/assets/images/amiti.jpg" /></a>
    </div>
  </div>

  <div class="row align-left push--140">
    <div class="columns">
      <h2 class="open-sans-light">Founders</h2>
    </div>
  </div>
  <div class="row align-justify push--40">
    <div class="columns">
      <h4 class="open-sans-semi-bold">Raviv Melamed</h4>
      <h5 class="open-sans-light">CEO and Co-Founder</h5>
      <p class="open-sans-light push--20">
        Prior to Vayyar, Raviv was Vice- President of the Intel Architecture Group and General Manager of Intel’s Worldwide Mobile Wireless Group.
        Raviv joined Intel in 2004 as part of Intel’s acquisition of Envara, a fabless semi-conductor company based in Israel, where he served as Vice President of R&amp;D. Prior to that he held several roles in the Israel Defense Force in large scale radar and communication projects.
        Raviv holds a BSc. and MSc. in Electrical Engineering from Ben-Gurion University, Israel.
      </p>
    </div>
    <div class="columns">
      <h4 class="open-sans-semi-bold">Miri Ratner</h4>
      <h5 class="open-sans-light">VP R&amp;D and Co-Founder</h5>
      <p class="open-sans-light push--20">
        Miri has over 20 years of multidisciplinary R&amp;D experience, in Israel and the US. Prior to Vayyar, Miri served as a senior consultant of various hi-tech companies including Intel, Visonic and Siklu. Prior to that, Miri joined Alvarion (BreezeCom) at its seed stage, where she managed the R&amp;D Wireless Access department throughout the company’s IPO.
        Prior to BreezCom, Miri held various R&amp;D management and technical positions in Comverse, Tie Communications (USA) and ECI Telecom (Tadiran). Miri holds a BSc. in Mathematics and Computer Science from Bar-Ilan University, Israel
      </p>
    </div>
    <div class="columns">
      <h4 class="open-sans-semi-bold">Naftali Chayat</h4>
      <h5 class="open-sans-light">CTO and Co-Founder</h5>
      <p class="open-sans-light push--20">
        Naftali has over 30 years’ experience in signal processing, communications, radio systems and antenna technology. Prior to Vayyar,  Naftali was Chief Scientist of Alvarion (BreezeCom) where he was responsible for its core technology. Prior to BreezeCom, Naftali held several roles in an R&amp;D Department in the Israel Defense Forces, culminating as Chief Engineer. Naftali holds a BSc. in Physics and Mathematics from the Hebrew University under the auspices of “Talpiot”, an elite R&amp;D program of the Israel Defense Forces, and an MSc. in Electrical Engineering from the Technion, Israel
      </p>
    </div>
  </div>

  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
