<div class="section--contact" id="contact-form" class="js-jumplink">
  <div class="row align-justify align-middle">
    <div class="columns small-12 medium-expand text-center medium-text-left">
      <h2 class="open-sans-light">Contact Us </h2>
    </div>
    <div class="columns text-right small-10 small-offset-1 medium-expand push--20">
      <div class="hire-bug">
        <h2 class="open-sans-light">We're Hiring! </h2>
        <p class="lead open-sans-bold">
          <a href="https://vayyar.workable.com/j/4D7DDD5D3D" target="_blank">Start Your Application Now</a>
        </p>
      </div>
    </div>
  </div>
  <form class="small-12" action="https://vayyar.wufoo.com/forms/zf4tx541enmmxh/#public" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post">
    <div class="row push--30 medium--push-40 push--medium-40">
      <div class="columns small-12 large-5">
        <label>Reason for Contact</label>
        <label class="select-mask">
          <select id="Field8" name="Field8" class="field select medium"       tabindex="5" >
             <option value="General Inquiries" selected="selected">
                <span class="notranslate">General Inquiries</span>
             </option>
             <option value="Business Partnerships" >
                <span class="notranslate">Business Partnerships</span>
             </option>
             <option value="Request for Quote" >
                <span class="notranslate">Request for Quote</span>
             </option>
             <option value="Career Opportunities" >
                <span class="notranslate">Career Opportunities</span>
             </option>
             <option value="Walabot" >
                <span class="notranslate">Walabot</span>
             </option>
             <option value="Technical Queries" >
                <span class="notranslate">Technical Queries</span>
             </option>
             <option value="Press" >
                <span class="notranslate">Press</span>
             </option>
             <option value="Suppliers" >
                <span class="notranslate">Suppliers</span>
             </option>
             <option value="Investment" >
                <span class="notranslate">Investment</span>
             </option>
             <option value="Other" >
                <span class="notranslate">Other</span>
             </option>
          </select>
        </label>

        <label>Your Name</label>
        <input id="Field3" name="Field3" type="text" />

        <label>Email</label>
        <input id="Field4" name="Field4" type="email" />

        <label>Company</label>
        <input id="Field5" name="Field5" type="text" />
      </div>

      <div class="columns small-12 medium-expand push--20">
        <label>Comments</label>
        <div class="text-right">
          <textarea id="Field6" name="Field6"></textarea>
          <button class="push--30 push--medium-50 mobile-full">Send</button>
          <input type="hidden" id="idstamp" name="idstamp" value="FAblbosE2VnSJe2iz7G6noJWxwhY9KAuhxWedheEoHA=">
        </div>
      </div>
    </div>
  </form>
</div>
