<header class="main-header">
  <nav class="row expanded align-middle align-justify">
    <a class="main-logo" href="/">
      <div class="main-logo__wrapper">
        {{>logo}}
      </div>
    </a>
    <button class="mobile-nav-toggle hide-for-large js-mobile-toggle"><i class="fa fa-bars"></i></button>
    <ul class="main-nav">
      <li>
        <a href="#">Divisions <i class="fa fa-caret-down"></i></a>
        <ul>
          <li>
            <a href="/automotive">Automotive</a>
          </li>
          <li>
            <a href="/retail-robotics-medical#robotics">Robotics</a>
          </li>
          <li>
            <a href="/retail-robotics-medical#retail">Retail</a>
          </li>
          <li>
            <a href="/smart-home">Smart Home</a>
          </li>
          <li>
            <a href="/retail-robotics-medical#smart-office">Smart Office</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/technology">Tech</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/press">Press</a>
      </li>
      <li>
        <a href="#contact-form" class="js-jumplink">Contact</a>
      </li>
    </ul>
  </nav>
</header>
