<footer class="main-footer">
  <div class="row align-justify push--40">
    <div class="columns small-12 large-3">
      <ul class="footer__ul">
        <li class="footer__logo">
          <div class="main-logo__wrapper main-logo__wrapper--white">
            {{>logo}}
          </div>
        </li>
        <li>
          <a target="_blank" href="https://www.google.co.il/maps/place/Avraham+Giron+St+3,+Yehud/@32.0271545,34.8925806,17z/data=!3m1!4b1!4m5!3m4!1s0x151d350f94128bd3:0x794c7ab1787023da!8m2!3d32.0271545!4d34.8947693">
            11 Altalef Street <br />
            POB. 325, Yehud  <br />
            56216, Israel
          </a>
        </li>
      </ul>
    </div>
    <div class="columns small-12 large-3">
      <ul class="footer__ul">
        <li>
          Vayyar.com
        </li>
        <li><a href="/automotive">Automotive</a></li>
        <li><a href="/retail-robotics-medical">Robotics</a></li>
        <li><a href="/smart-home">Smart Home</a></li>
        <li><a href="/retail-robotics-medical">Retail</a></li>
        <li><a href="/technology">Technology</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="#contact-form" class="js-jumplink">Contact</a></li>
      </ul>
    </div>
    <div class="columns small-12 large-3">
      <ul class="footer__ul">
        <li>
          Follow Us
        </li>
        <li><a href="https://twitter.com/vayyarinc" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="https://www.youtube.com/watch?v=TLjUK-teB8o" target="_blank"><i class="fa fa-youtube"></i> YouTube</a></li>
      </ul>
    </div>
    <div class="columns small-12 large-3">
      <ul class="footer__ul">
        <li>
          We're Hiring
        </li>
        <li><a href="https://vayyar.workable.com/j/4D7DDD5D3D" target="_blank">Start Application</a></li>
      </ul>
    </div>
  </div>
</footer>
