{{#unless about}}
{{#unless tech}}
{{#unless smart-home}}
<div class="row push--200">
  <div class="columns">
    <h2 class="open-sans-light">Vayyar’s Advantages</h2>
  </div>
</div>
<div class="row align-middle push--60">
  <div class="columns large-5 text-center">
    <img src="/assets/images/vayyar-chip-lg.png" />
  </div>
  <div class="columns large-5">
    <ul class="feature-list">
      <li>No privacy violation</li>
      <li>Robust solution (not sensitive to different light condition, smoke, fog, ice, snow, rain, etc.)</li>
      <li>Concealed installation (no design damage)</li>
      <li>Leveraging breakthrough number of antennas for high field-of-view and accuracy detection</li>
      <li>Customizable system to fit different form-factor and performance/FoV requirements</li>
    </ul>
  </div>
</div>
{{/unless}}
{{/unless}}
{{/unless}}

{{#if tech}}
<div class="row push--200">
  <div class="columns">
    <h2 class="open-sans-light">Advantages</h2>
  </div>
</div>
<div class="row align-middle push--60 align-justify">
  <div class="columns large-4">
    <img src="/assets/images/vayyar-icon-2x.png" />
  </div>
  <div class="columns large-7 text-left">
    <h3 class="open-sans-bold">See-through Materials</h3>
    <p class="lead open-sans-light">Unique field of view and concealed installation</p>
    <h3 class="push--30 open-sans-bold">Works in all conditions</h3>
    <p class="lead open-sans-light">Agnostic to smoke, fog, dark</p>
    <h3 class="push--30 open-sans-bold">Protects Privacy</h3>
    <p class="lead open-sans-light">No camera, wearable or privacy violation</p>
    <h3 class="push--30 open-sans-bold">Compact, low power & safe</h3>
  </div>
</div>
{{/if}}

{{#unless about}}
{{#unless tech}}
<div class="row push--200">
  <div class="columns text-center">
    <h2 class="open-sans-light">Get started with Vayyar</h2>
    <h3 class="open-sans-light fc--mg">Select your evaluation package</h3>
  </div>
</div>

<div class="row push--60">

  <div class="columns square">
    <h3 class="open-sans-bold">Basic Package</h3>
    <ul class="lead open-sans-light push--20">
      <li>Advanced HW</li>
      <li>Single function SW (people location, obstacles map, heart-rate/breathing) - GUI</li>
      <li>1-month support</li>
    </ul>
    <a href="#contact-form" class="js-jumplink btn btn--square push--20">Enquire Now</a>
  </div>

  <div class="columns square">
    <h3 class="open-sans-bold">Advanced Package</h3>
    <ul class="lead open-sans-light push--20">
      <li>Dedicated advanced HW (off-the-shelf or tailored)</li>
      <li>Multi-functions SW (people location, obstacles map, heart-rate/breathing) – GUI + API</li>
      <li>3-months support</li>
      <li>3-days face-to-face meeting for training, integration and mutual testing</li>
      <li>Reference design</li>
    </ul>
    <a href="#contact-form" class="js-jumplink btn btn--square push--20">Enquire Now</a>
  </div>

</div>
{{/unless}}
{{/unless}}

{{#unless smart-home}}
{{#unless about}}
<div class="row push--200">
{{else}}
<div class="row push--140">
{{/unless}}
  <div class="columns text-left">
    <h2 class="open-sans-light">More Divisions</h2>
  </div>
</div>

<div class="row expanded push--60">
  <a class="columns square square--link" href="/retail-robotics-medical#robotics">
    <div class="square__inner">
      <h3 class="open-sans-light">Robotics</h3>
    </div>
  </a>
  <a class="columns square square--link" href="/smart-home">
    <div class="square__inner">
      <h3 class="open-sans-light">Smart Home</h3>
    </div>
  </a>
  <a class="columns square square--link" href="/retail-robotics-medical#retail">
    <div class="square__inner">
      <h3 class="open-sans-light">Retail</h3>
    </div>
  </a>
  <a class="columns square square--link" href="/technology">
    <div class="square__inner">
      <h3 class="open-sans-light">Technology</h3>
    </div>
  </a>
</div>
{{/unless}}
