---
title: Vayyar
heading: 'Press Center'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
canon: '/press/'
---

{{>main-header}}

<div class="page-hero page-hero--tech row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">Press Kit</h1>
  </div>
</div>

<div class="section">

  <div class="row push--30 push--medium-70">
    <div class="columns small-12 large-5 text-center">
      <h3 class="open-sans-bold fc--aqua">
	       <a href="/assets/media/Vayyar-press-release-121417.pdf" target="_blank">
		       Press Release and FAQ
	       </a>
	  </h3>
    </div>
    <div class="columns push--30 small-12 large-3 text-center">
      <h3 class="open-sans-bold fc--aqua">
		<a href="/assets/media/Vayyar-images.zip">
			Images
		</a>
	  </h3>
    </div>
	<div class="columns push--30 small-12 large-4 text-center">
      <h3 class="open-sans-bold fc--aqua">
		<a href=" https://www.youtube.com/channel/UC1-pUD8UkDWCjkgLD-WoheQ/videos" target="_blank">
			Video Assets
		</a>
	  </h3>
    </div>
  </div>

  <div class="row push--60 push--medium-70">
    <div class="columns">
      <h4 class="open-sans-bold fc--mg text-center">Press Contact: <a href="mailto:vayyar@bigfishpr.com" target="_blank"> vayyar@bigfishpr</a></h4>
    </div>
  </div>



<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
