---
title: Vayyar
heading: 'Press Center'
description: Vayyar develops safe, mobile, low cost 3D imaging sensors, enabling applications ranging from breast cancer screening to detecting water leakage, food safety monitoring and many more.
canon: '/press/'
---

{{>main-header}}

<div class="page-hero page-hero--tech row expanded align-middle text-center">
  <div class="columns">
    <h1 class="open-sans-light">Press Center</h1>
  </div>
</div>

<div class="section section--angle">


  <div class="row push--60">
    <div class="columns">
      <h2 class="open-sans-light">Press</h2>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Article Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
    </div>
  </div>

  <div class="row push--80">
    <div class="columns">
      <h2 class="open-sans-light">Media</h2>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href="#" class="btn btn--square">Download</a>
    </div>
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href="#" class="btn btn--square">Download</a>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href="#" class="btn btn--square">Download</a>
    </div>
    <div class="columns">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href="#" class="btn btn--square">Download</a>
    </div>
  </div>

  <div class="row push--80">
    <div class="columns">
      <h2 class="open-sans-light">Downloads</h2>
    </div>
  </div>

  <div class="row push--40">
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
      <a href="#" class="btn btn--square">Download</a> <a href="#" class="btn btn--square">Download</a>
    </div>
    <div class="columns">
      <h3 class="open-sans-light fc--mg">Headline Here</h3>
      <p class="lead open-sans-light fc--mg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veniam, quis nostrud.
      </p>
      <a href="#" class="btn btn--square">Download</a> <a href="#" class="btn btn--square">Download</a>
    </div>
  </div>



  {{>vayyar-xsell}}

<!-- /Serction -->
</div>

{{>contact-form}}

{{>site-footer}}
